<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="onlyPlan" value="%msg%n"/>
  <property name="plan" value="%d{hh:mm:ss,SSS} [%t] %-5p %c %X - %m%n"/>

  <appender name="CA" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${onlyPlan}</pattern>
    </encoder>
  </appender>
  <logger name="org.apache.ibatis.level" level="INFO"/>
  <logger name="javax.activation.level" level="INFO"/>
  <root level="INFO">
    <appender-ref ref="CA"/>
  </root>
</configuration>